#right_sidebarsp {
	position:relative; 
	float:left; 
	width:138px; 
	height:401px; 
	background:transparent; 
	font-size:10px; 
}

#right_sidebar {
	position:relative; 
	float:left; 
	left:10px; 
	top:10px; 
	width:128px; 
	height:381px; 
	background-color:#FAEBD7; 
	font-size:10px;
}


#right_sidebar .ttl {position:relative; height:20px; font-weight:bold; font-size:12px;background:transparent; font-family:arial;}
#right_sidebar .ttl ul {position:relative; list-style-type:none; margin:0; padding:0; left:5px; top:3px;}
#right_sidebar .ttl a {text-decoration:none; color:#000000;}
#right_sidebar .bod {position:relative; color:#000000; background:transparent; height:361px; font-family:arial; font-weight:bold;}
#right_sidebar .bod ul {position:relative; list-style-type:none; margin:0; padding:3px 5px;}
#right_sidebar .bod a {text-decoration:underline;color:#000000;}
#right_sidebar .bod p {color:#000000;margin:0; padding:0}
#right_sidebar .bod img {vertical-align:middle;border:0;}