#topmenusp {
	position:static; 
	float:left; 
	clear:both; 
	width:1024px; 
	height:45px; 
	background:white;
	font-family:verdana,sans-serif; 
	font-size:10px; 
	z-index:500; 
} 

#topmenusp ul {
	margin:0; 
	padding:0 0 0 8px; 
	font-size:12px;
}
	
#topmenusp li {
	overflow:inherit; 
	list-style-type:none; 
	margin:0; 
	padding:0; 
	float:left; 
} 
	
#topmenusp a {
	text-decoration:none; 
	margin:0; 
	padding:7px 10px 0; 
	display:block; 
	height:28px; 
	color:#800000; 
	float:left; 
	/*background:url("../images/uds1.gif")*/ 
	/*repeat-x;*/
	background-position:0 35px;
}
	
#topmenusp a.first {
	margin:0; 
	padding:7px 10px 0 12px; 
} 
	
#topmenusp a:hover {
	color:#F5DEB3; 
	background-position:0 0;
}
	
#topmenusp .SubMenu {
	position:absolute; 
	display:none; 
	z-index:101; 
	font-size:12px;
}
	
#topmenusp .SubMenu ul {
	float:left; 
	margin:0; 
	padding:0; 
	font-size:12px; 
	border:2px solid #FAF0E6;
}
	
#topmenusp .SubMenu li {
	list-style-type:none; 
	margin:0; 
	padding:0; 
	float:none;
}
	
#topmenusp .SubMenu a {
	text-decoration:none; 
	display:block; 
	width:140px; 
	height:20px; 
	margin:0; 
	padding:5px 0px 0px 10px; 
	color:#800000; 
	background:#FAEBD7; 
	float:none;
}
	
#topmenusp .SubMenu a:hover {
	color:#000000; 
	background:#FFFFFF;
}