.abaDentro{
	padding:0;
	margin:0px 0;
	height:auto;
	width:936px;
	background:#F9F9F9; /* cor do fundo do formulario*/
	border:#000 2px solid;
}

.aba2{
	height: 30px;
	position: relative;
	/*top:105px;
	right:18px;*/
	border:none 0;
	margin: 0;
	padding:0;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	background:#0C3;
	}
.aba2 ul{
	background:#000;
	height:40px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.aba2 li{
		float:left;
		padding:0;
		height:25px;
		}
	.aba2 li a{
		background:#000;
		color:#FFF;
		display:block;
		font-weight:bold;
		line-height:25px;
		margin-left:3px;
		padding:2px 15px;
		text-align:center;
		text-decoration:none;
		}
		.aba2 li a:hover, .aba2 ul li:hover a{
			background: #FFF;
			color:#000;
			text-decoration:none;
			}

.menu{
	margin:10px 0 0;
	padding:0;
}

.menu li{
	color:#000;
	background:#FFF;
	margin:0;
	padding:0;
	padding-left:10px;
	text-align:left;
	list-style:none;
	display:block;
	height:32px;
	width:160px;
	cursor:pointer;
	cursor:hand;
	position:relative;
	border-bottom:1px solid #000;
}
.menu li:hover{
	background:#666;
}

.formulario{
	height:auto;
	width:780px;
	position:absolute;
	background:#000;
	border:#000 medium;
	top:0;
	right:0;
	color:#000;
}

.campos{
	position:absolute;
	top:70px;
	right:275px;
}

.campos li{
	list-style:none;
}

.campos div{
	margin:0;
	margin-bottom:3px;
}

.campos ul input{
	background:#D2D2D2;
}

.botao{
	position:absolute;
	right:0;
}
