.no-margin {
	margin: 0px;
}

.no-right-margin {
	margin-right: 0px;
}

.margin-5 {
	margin: 5px;
}

.left-margin-5 {
	margin-left: 5px;
}

.bottom-margin-10 {
	margin-bottom: 10px;
}

.no-padding {
	padding: 0px;
}

.top-padding-30 {
	padding-top: 30px;
}


.right-padding-30 {
	padding-right: 30px;
}

.hidden {
	display: none;
}

.color-error {
	color: #A94442;
}

.color-warning {
	color: #8A6D3B;
}

.color-success {
	color: #3C763D;
}

.font-size-20 {
	font-size: 20pt;
}

.background-black {
	background-color: black;
}

/* menu */
ul#menuNavegacao ul {
	display: none;
}

ul#menuNavegacao {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul#menuNavegacao li {
	float: left;
}

ul#menuNavegacao li a:link,a:visited {
	display: block;
	font-weight: bold;
	color: white;
	background-color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-right: 5px;
	background-color: black;
}

ul#menuNavegacao li a:hover,a:active {
	background-color: #C2C2C2;
	color: black;
}

#subMenu ul {
	list-style-type: none;
}

#subMenu ul li {
	float: left;
}

#subMenu ul li a:link,a:visited {
	display: block;
	font-weight: bold;
	color: white;
	background-color: black;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	background-color: black;
}

#subMenu ul li a:hover,a:active {
	background-color: #C2C2C2;
	color: black;
}

.outrosItens {
	background-color: #C2C2C2 !important;
	color: black !important;
}

.itemAtual {
	color: white !important;
	background-color: black !important;
}
/* fim menu */
.com-select2 {
	padding: 0px;
}

.com-select2 a {
	height: 32px !important;
	padding-top: 2px !important;
}

.imgbusca {
	margin-top: 100px;
}

#midiasModal .modal-body {
	text-align: center;
}

.miniatura {
	height: 200px !important;
}

.thumbnail video {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail .form-group input{
	width: 100%;
}

.remove-midia {
	position: absolute;
	top: 5px;
	right: 20px;
}

.modal-dialog {
	min-width: 600px;
	display: table;
}