  /*Reset inicial*/
  html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,
  p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,
  em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
  table,caption,tbody,tfoot,thead,tr,th,td{
	  border:0;
	  font-weight:inherit;
	  font-style:inherit;
	  font-size:100%;
	  font-family:inherit;
	  vertical-align:baseline;
	  margin:0;
	  padding:0;
}
body{line-height:1.5;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:400;}
table,td,th{vertical-align:middle;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
ul,li,ol{margin-left:0;}
/*Final do reset*/

/*Configuracoes para o rodape ficar embaixo sempre*/
html, body {
		height: 100%;
}

* html #tudo {
		height: 100%; /* hack para IE6 que trata height como min-height */
}
/*Final das configs*/
	
	
body{
		margin:0;
		padding:0;
		color:#666;
		font:75%/1.4 Verdana, Arial;
		text-align:center;
}
	#recipiente { 	
		min-height: 100%;
		width: 976px;	
		background: url(../resources/imagens/content_background2.png) repeat-y;	
		margin: 0px auto 0;
		padding: 0;
		text-align:left;	
		position: relative;
		
	}
	#topo{
	/*padding:  15px 10px 0;*/
	background: url(../resources/imagens/header.png) no-repeat;
	text-align:left;
	width: 976px;
	height:10px;
	}
	
	#cabecalho {	
		padding:  30px 10px 0;
		position:relative;
		text-align:left;
		width:956px;
	}
	
	#cabecalho img{
		margin: 0 0 5px 20px;
	}

	#conteudo{
	color:#FFF;
	font-size:13px;
	margin:0 ;
	padding:0 18px 30px;
	position: relative;
	height: 100%;
	clear:both;

}

	#CaixaCorpo {	
	width:940px;
	padding:0 0px 10px;
	margin:0;

	}
	

	
	#rodape {	
		background: url(../resources/imagens/footer.png) no-repeat;
		width: 976px;	
		height:30px;	
		text-align:center;	
		clear:both;
		position: absolute;
		bottom: 0;
		font-size:10px;
		margin: 0 ;
		padding-top:10px;

	}
	#rodape p {	
		margin:0;	
		font-weight:bold;	
		color:#000;	
	}
	
	
#usuario{
	font-size:14px;
	width: 200px;
	position: absolute;
	top: 10px;
	right:15px;
	text-align:right;
}

#usuario a{
	text-decoration:none;
	color:#000;
}

#usuario a:hover{
	text-decoration:underline;
	color:#000;
}

h4 {
	font-size:16px;
}
	
.clear {
	clear:both;
}

	
#Abas{
	height: 30px;
	position: absolute;
	top:105px;
	right:18px;
	border:none 0;
	margin:0;
	padding:0;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	}
#Abas ul{
	background:#FFF;
	height:30px;
	list-style:none;
	margin:0;
	padding:0;
}
#Abas li{
	float:left;
	padding:0;
}
#Abas li a{
	background:#FFF;
	color:#000;
	display:block;
	font-weight:bold;
	line-height:30px;
	margin:0;
	padding:2px 20px;
	text-align:center;
	text-decoration:none;
}
#Abas li a:hover, #Abas ul li:hover a{
	background: #000;
	color:#FFF;
	text-decoration:none;
}
#Abas li ul{
	background:#000;
	color:#FFF;
	display:none;
	height:auto;
	padding:0;
	margin:0;
	border:0;
	position:absolute;
	width:150px;
	z-index:200;
}
#Abas li:hover ul{
	display:block;	
}
#Abas li li {
	background:#000;
	color:#FFF;
	display:block;
	float:none;
	margin:0;
	padding:0;
	width:150px;
}
#Abas li:hover li a{
	background:none;	
}
#Abas li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0;
	padding:0 10px 0 15px;
	text-align:left;
}
#Abas li ul a:hover, #Abas li ul li:hover a{
	background:#333;
	border:0;
	color:#FFF;
	text-decoration: none;
}	
#Abas p{
	clear:left;
}
		
#Abas ul li.selecionado a, #Abas li.selecionado a{
	background: #000;
	color:#FFF;
	text-decoration:none;
}


/* Conteudoooooo */

.aba2{
	height: 30px;
	position: relative;
	border:none 0;
	margin: 0;
	padding:0;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	background-color: #000;
	}
.aba2 ul{
	background:#000;
	list-style:none;
	margin:0;
	padding:0;
	}
.aba2 li{
	float:left;
	padding:0;
	height:25px;
}
.aba2 li a{
	background:#000;
	color:#FFF;
	display:block;
	font-weight:bold;
	line-height:25px;
	margin-left:3px;
	padding:2px 15px;
	text-align:center;
	text-decoration:none;
}
.aba2 li a:hover, .aba2 ul li:hover a{
	background: #FFF;
	color:#000;
	text-decoration:none;
}

.formulario{
	width:932px;
	margin: auto;
	background-color: #D4D4D4;
	border-color: #000;
	border-style: solid;
	border-width: 4px;	
	color:#000;
	text-align: right;
}

.teste{
	margin-right: 350px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.erro{
	margin:auto;
	margin-top: 10px;
	width: 400px;
	padding: 15px;
	color: #690000;
	background-color:#FF8282;
	border-color: #FF0000;
	border-style: solid;
	border-width: 2px;	
}

/*
 *Regras CSS utilizadas para deixar algum dos menus selecionados
 */
#descritor #Abas li.descritor a,
#autoria #Abas li.autoria a,
#bempatrimonial #Abas li.bempatrimonial a,
#administracao #Abas li.administracao a,
#instituicao #Abas li.instituicao a{
		background: #000;
		color:#FFF;
}


