.abaDentro{
	padding:0;
	margin:0px 0;
	height:auto;
	width:936px;
	background:#F9F9F9; /* cor do fundo do formulario*/
	border:#000 2px solid;
}

.menu{
	margin:0;
	padding:0;
}

.menu li{
	color:#FFF;
	background:#000;
	margin:0;
	padding:0;
	padding-left:10px;
	text-align:left;
	list-style:none;
	display:block;
	height:32px;
	width:160px;
	cursor:pointer;
	cursor:hand;
	position:relative;
	border-bottom:1px solid #FFF;
}
.menu li:hover{
	background:#666;
}

.formulario{
	height:auto;
	width:780px;
	position:absolute;
	background:#FFF;
	border:#000 medium;
	top:0;
	right:0;
	color:#000;
}

.campos{
	position:absolute;
	top:10px;
	right:275px;
}

.campos li{
	list-style:none;
}

.campos div{
	margin:0;
	margin-bottom:3px;
}

.campos ul input{
	background:#D2D2D2;
}

.botao{
	position:absolute;
	right:0;
}


