@import url(reset-min.css);
@import url(conteudo.css);

body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#recipiente{
	background-color:#FFF;
	margin: 0px auto 0;
	padding: 0;
	width: 976px;
	text-align: center;
}

#cabecalho{
	/*margin: 15px 0 0;*/
	padding:  30px 10px 0;
	background: url(../imagens/content_background.png) repeat-y;
	position:relative;
	text-align:left;
	width:956px;
}

#cabecalho img{
	margin: 0 0 0 20px;
}

#usuario{
	font-size:14px;
	width: 200px;
	position: absolute;
	top: 10px;
	right:15px;
	text-align:right;
}

#usuario a{
	text-decoration:none;
	color:#000;
}

#usuario a:hover{
	text-decoration:underline;
	color:#000;
}

#conteudo{
	color:#FFF;
	font-size:13px;
	margin:0 ;
	padding:10px 18px ;
	position: relative;
	background: url(../imagens/content_background.png) repeat-y #0C0;
}

#rodape{
	margin: 0 ;
	padding-top:5px;
	font-size:10px;
	height:35px;
	width:976px;
	background: url(../imagens/footer.png) no-repeat;
}

 
#Abas {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
}
#Abas li {
	float:right;
	height:32px;
	cursor:pointer;
	cursor:hand;
}

li.autoria {
	background:url(../imagens/autoria.png) no-repeat 0 -32px;
	width:82px;
}
li.descritor {
	background:url(../imagens/descritor.png) no-repeat 0 -32px  #F00;
	width:96px;
}
li.bempatrimonial {
	background:url(../imagens/bem_patrimonial.png) no-repeat 0 -32px;
	width:156px;
}

li.mousesobre {
	background-position:0 0;
}
li.mousefora {
	background-position:0 -32px;
}
li.selecionado {
	background-position:0 0;
}

.caixa {
	width:940px;
	background:#96F;
}
/*.CaixadeCima {
	background:url(../imagens/box_top.png) no-repeat;
	height:10px;
	clear:both;
}
*html .CaixadeCima {
	margin-bottom:-2px;
}*/

#CaixaCorpo {
	padding:0;
	margin:0;
}
/*
.CaixadeBaixo {
	background:url(../imagens/box_bottom.png) no-repeat;
	height:10px;
}*/