.abaDentro{
	padding:0;
	margin:0;
	height:auto;
	width:940px;
	background:#000;
	position:relative;
}

.menu{
	margin:0;
	padding:0;
}

.menu li{
	color:#FFF;
	background:#000;
	margin:0;
	padding:0;
	padding-left:10px;
	text-align:left;
	list-style:none;
	display:block;
	height:32px;
	width:150px;
	cursor:pointer;
	cursor:hand;
	left:-40px;
	position:relative;
}

.formulario{
	height:auto;
	width:790px;
	position:absolute;
	top:0;
	right:0;
	color:#FFF;
}

.texto{
	text-align:right;
	width:250px;
}

.texto p{
	margin:0;
	margin-bottom:8px;
}

.campos{
	position:absolute;
	top:0;
	right:275px;
}

.campos p{
	margin:0;
	margin-bottom:3px;
}

.botao{
	position:absolute;
	right:0;
}
