body{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}

#container{
	background-color:#FFF;
	margin: 0px auto 0;
	padding: 0;
	width: 976px;
	text-align: center;
	
}

#header{
	/*margin: 15px 0 0;*/
	padding:  30px 10px 0;
	background: url(imagens/content_background.png) repeat-y;
	position:relative;
	text-align:left;
	width:956px;
}

#header img{
	margin: 0 0 0 20px;
}

#user{
	font-size:14px;
	width: 200px;
	position: absolute;
	top: 10px;
	right:15px;
	text-align:right;
}

#user a{
	text-decoration:none;
	color:#000;
}

#user a:hover{
	text-decoration:underline;
	color:#000;
}

#content{
	color:#FFF;
	font-size:13px;
	margin:0 ;
	padding:10px 18px ;
	position: relative;
	background: url(imagens/content_background.png) repeat-y;
}

#footer{
	margin: 0 ;
	padding-top:5px;
	font-size:10px;
	height:35px;
	width:976px;
	background: url(imagens/footer.png) no-repeat;
}


/*        jQuery TABS          */
/* styles refering to the tabs */

a {
	color:#ccc;
	text-decoration:none;
}
a:hover {
	color:#ccc;
	text-decoration:none
}
 
#tabMenu {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
}
#tabMenu li {
	float:right;
	height:32px;
	cursor:pointer;
	cursor:hand;
}

li.comments {
	background:url(imagens/autoria.png) no-repeat 0 -32px;
	width:82px;
}
li.posts {
	background:url(imagens/descritor.png) no-repeat 0 -32px;
	width:96px;
}
li.category {
	background:url(imagens/bem_patrimonial.png) no-repeat 0 -32px;
	width:156px;
}
li.famous {
	background:url(tabmenu/images/tabHeart.png) no-repeat 0 -32px;
}
li.random {
	background:url(tabmenu/images/tabRandom.png) no-repeat 0 -32px;
}

li.mouseover {
	background-position:0 0;
}
li.mouseout {
	background-position:0 -32px;
}
li.selected {
	background-position:0 0;
}


.box {
	width:940px;
}
.boxTop {
	background:url(imagens/box_top.png) no-repeat;
	height:10px;
	clear:both;
}
*html .boxTop {
	margin-bottom:-2px;
}
.boxBody {
	background-color:#000;
}
.boxBottom {
	background:url(imagens/box_bottom.png) no-repeat;
	height:10px;
}

.boxBody div {
	display:none;
}
.boxBody div.show {
	display:block;
}
.boxBody #category a {
	display:block;
}

.boxBody div ul {
	margin:0 10px 0 25px;
	padding:0;
	width:225px;
	list-style-image:url(imagens/arrow.gif);
	text-align:left;
}
*html .boxBody div ul {
	margin-left:10px;
	padding-left:15px;
}
.boxBody div li {
	border-bottom:1px dotted #8e8e8e;
	padding:4px 0;
	cursor:hand;
	cursor:pointer;
}
.boxBody div ul li.last {
	border-bottom:none
}
.boxBody div li span {
	font-size:8px;
	font-style:italic;
	color:#888;
}
.boxBody div.bloco{
	display:block;
}