

body { 
/*	background-color:#FAF0E6; 
	background-image:url("../images/paper017.jpg");*/
	background-color:#CCC;
	padding:0;
	margin:0;
}

/* Main Wrapper */
#sitemain { 
	position:static; 
	clear:both;
/*	background-color:#CCC;*/
	background-color:white;
	font-size:10px;
	width:1024px; 	/* Total page width. */
	margin:0 auto; /* Centers the site. */
	color:gray;
}

#groupsp {
	position:static; 
	/*float:left; */
	clear:both; 
	width:800px; 
	background-color:white; 
	font-family:verdana,sans-serif; 
	font-weight:bold; 
	font-size:10px; 
/*	z-index:90; */
} 

/*
	
#group {
	position:static; 

	clear:both; 
	width:800px; 
	background-color:transparent; 
	font-family:verdana,sans-serif; 
	font-weight:bold; 
	font-size:10px; 

}*/