#footersp {
	position:static; 
	float:left;
	clear:both; 
	width:1024px; 
	background:transparent; 
	font-size:1px; 
	
	font-family:verdana,arial,sans-serif; 
	font-size:10px; 
	color:#000000;
} 
/*
#footer {
	position:static; 
	float:left; 
	clear:both; 
	margin:10px auto;
	font-family:verdana,arial,sans-serif; 
	font-size:10px; 
	color:#000000;
}*/

#footersp .tag {
	position:relative; 
	text-align:left; 
	left:8px; 
	top:8px; 
	clear:both;
}

#footersp a:link, a:visited {
	text-decoration:none; 
	color:gray;
}
#footersp a:hover {
	text-decoration:none;
	color:black;
}