<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>realizarbuscasimplesWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BuscaSimples</display-name>
    <servlet-name>BuscaSimples</servlet-name>
    <servlet-class>br.usp.labes.memoriavirtual.busca.BuscaSimples</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaSimples</servlet-name>
    <url-pattern>/buscasimples</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscaSimplesServlet</display-name>
    <servlet-name>BuscaSimplesServlet</servlet-name>
    <servlet-class>br.usp.labes.memoriavirtual.busca.BuscaSimplesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaSimplesServlet</servlet-name>
    <url-pattern>/BuscaSimplesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarSimplesServlet</display-name>
    <servlet-name>BuscarSimplesServlet</servlet-name>
    <servlet-class>br.usp.labes.memoriavirtual.busca.BuscaSimplesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarSimplesServlet</servlet-name>
    <url-pattern>/BuscarSimplesServlet</url-pattern>
  </servlet-mapping>
</web-app>