.botaoMaisMenos{
	width: 15px;
	display: inline-block;
	float: left;
	margin-left: 10%;
	margin-top: 4px;
	
}
.botaoMaisMenosOver{
	width: 15px;
	display: inline-block;
	float: left;
	margin-left: 10%;
	margin-top: 4px;
	background-color: #999;
}
.botaoOculto{
	
	display: none;
}

.containerExpansivo {
	width: 100% !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.containerExpansivoEscuro {
	width: 100% !important;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #EEE;
}

.containerExpansivo label {
	font-size: 16px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	margin-left: 20px;
}



.containerExpansivoEscuro label {
	font-size: 16px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	margin-left: 20px;
}
.containerDeExpansao{
	clear: both !important;
	margin: 0px !important;
	max-width: 100% !important;
	display: inline-table;
	padding-top:  20px !important;
	padding-bottom:  20px !important;
	width: 100% !important;
	margin: 0  !important;
	background-color: #EEE !important;
	float: right !important;
	width: 100% !important;
	margin: 0  !important;
}

.espacador{
	width: 100% !important;
	height: 20px !important;
	display: inline-block!important;;
}