.botaoMaisMenos{
	width: 15px;
	display: inline-block;
	float: left;
	margin-left: 20%;
	margin-top: 3px;
	
}
.botaoMaisMenosOver{
	width: 15px;
	display: inline-block;
	float: left;
	margin-left: 20%;
	margin-top: 3px;
	background-color: #999;
}
.botaoOculto{
	
	display: none;
}

.containerExpansivo {
	width: 100% !important;
	margin-top: 20px;
	margin-bottom: 20px;
}

.containerExpansivoEscuro {
	width: 100% !important;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #EEE;
}

.containerExpansivo label {
	font-size: 16px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	margin-left: 20px;
}



.containerExpansivoEscuro label {
	font-size: 16px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	margin-left: 20px;
}
.containerDeExpansao{
	display: inline-table;
	padding-bottom:  20px !important;
	padding-top:  20px !important;
	width: 100% !important;
	margin: 0  !important;
	background-color: #EEE !important;
}

.containerDeExpansao td{
	float: right;
	width: 100% !important;
	margin: 0  !important;
	background-color: #EEE !important;
}