#uploadComponente {
	margin: 0;
	float: right;
	margin-right: 15%;
	color: black;
}

#uploadComponente label {
	float: left;
}
 
#example-content {
	background: #F7F7F7;
	width: 240px;
	height: 140px;
	text-align: center;
	float: none;
	border: #444 1px solid;
	margin: 0px;
	margin-top: 5px;
	margin-right: 50%;
	padding: 10px
}

#tag_imagem {
	display: none;
	width: 100%;
}

#frame {
	margin: 0px;
	width: 100%;
	height: 100%;
}

#image-area {
	margin: 0px;
	width: 100%;
	height: 100%;
	border: #777 1px dashed;
	overflow: hidden;
	background-color:
}

.hover {
	border: 1px solid #fff !important;
}

.melhoraPosicao {
	position: absolute;
}


#drop-message {
	text-align: center;
	width: 100%;
	max-width: none;
	min-width: 0px;
	float: right;
	margin: 0px;
	padding-top: 25%;
	padding-bottom: 25%;
}

#tabela_imagens {
	width: 100%;
	margin: 0;
}

#tabela_imagens table {
	width: 100%;
}


#tabela_imagens table div {
width: 170px;

display: block;
border: #777 1px solid;
margin: 2em;
padding: 5px;
float: none;
background-color: #DDD;

}

#tabela_imagens table div label {
font-size: 11px;
float: left;
text-align: left;
margin-left: 0px;
}

#tabela_imagens table div textarea {
resize: none;
width: 165px;
height: 30px;
float: none;
font-size: 10px;
}

#tabela_imagens div img {
display: block;
width: 168px;
border: outset #777;
border-width: 1px;
}


#tabela_imagens table div a {
text-decoration: none;
color: #888;
}

#tabela_imagens table div a:hover {
	text-decoration: none;
	color: #222;
}