#uploadComponente {
	margin: 0;
	float: right;
	margin-right: 15%;
	color: black;
}

#uploadComponente label {
	float: left;
}

#example-content {
	background: #F7F7F7;
	width: 240px;
	height: 140px;
	text-align: center;
	float: none;
	border: #444 1px solid;
	margin: 0px;
	margin-top: 5px;
	margin-right: 50%;
	padding: 10px
}

#tag_imagem {
	display: none;
	width: 100%;
}

#frame {
	margin: 0px;
	width: 100%;
	height: 100%;
}

#image-area {
	margin: 0px;
	width: 100%;
	height: 100%;
	border: #777 1px dashed;
	overflow: hidden;
	background-color:
}

.hover {
	border: 1px solid #fff !important;
}

#drop-message {
	text-align: center;
	width: 100%;
	max-width: none;
	min-width: 0px;
	float: right;
	margin: 0px;
	padding-top: 25%;
	padding-bottom: 25%;
}

#tabela_imagens {
	width: 100%;
	margin: 0;
}

#tabela_imagens table {
	width: 100%;
}

#tabela_imagens table div {
	width: 50%;
	display: block;
	border: #777 1px solid;
	margin: 2em;
	padding: 2em;
	float: none;
	background-color: #ddd;
	margin-left: 25%;
	margin-right: 25%;
}

#tabela_imagens table div label {
	width: 100%;
	text-align: center;
}

#tabela_imagens table div textarea {
	resize: none;
	width: 75%;
	float: none;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

#tabela_imagens table div img {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	border: outset #777;
}

#tabela_imagens table div a {
	margin-top: 1em;
	margin-bottom: 2px;
	text-decoration: none;
	color: #888;
}

#tabela_imagens table div a:hover {
	text-decoration: none;
	color: #222;
}